:root {
    --background-color: #ffffff;
    --text-color: #1a1a1a;
    --primary-color: #2F19B7;
    --secondary-color: #5733FF;
    --alert-color: #B31911;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #9E84FF;
    --secondary-color: #C0ADFF;
    --alert-color: #FB8558;
}